.App
{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  width: max-content;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(44, 43, 43);
}
.heading{
  background-color: rgb(42, 77, 20);
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}
