.record
{
    background-color:rgb(42, 77, 20);
}
.record__table
{
   
    border-collapse: collapse;
   border-radius: 20px;
    color: white;
    font-size: 24px;
    
}



td , th
{
align-content: center;
    border: 1px solid #ffffff;    
    padding: 7px; 
}
.win
{
    color: rgb(21, 255, 21);
}
.lose
{
    color: red;
}
.draw
{
    color: yellow
}